<nav>
  <ul>
    <li>home</li>
    <li>article</li>
    <li>auteur</li>
  </ul>
</nav>

<fieldset>
  <legend> Add a link</legend>
  <article>
    <div><label for="title"></label><input name="title" type="text" #title></div>
    <div><label for="link"></label><input name="link" type="url" #link></div>
    <button (click)="addArticle(title,link)" type="submit">Add Articles</button>
  </article>
</fieldset>

<app-articles *ngFor="let arti of  sorteArticle()" [article]="arti" (removeEvent)="removeArticle($event)"
  (editArticleFunction)="editArticleFunction($event)"></app-articles>
